
<!-- 1. <h2>{{hero.name}} Details</h2> -->

<!-- 2. -->
<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>


<!-- <app-heroe-details [hero]="selectedHero"></app-heroe-details> -->


<!-- 1. Hero's details dsiplayed in html
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name | uppercase}}</div> -->

<!-- 2. Input form for user to enter the hero's name -->
<!-- <div>
    <label for = "name">Hero name: </label>
    <input id = "name" [(ngModel)] = 'hero.name' placeholder="name">
</div> -->

