
<div class = "ml-3 my-4">
  <button *ngIf="articles.length > 0"  class="btn btn-danger btn-sm" 
    (click)=" clearFavouriteList()">Clear Reading List</button>
</div>
<div class = "container">
  <div *ngIf="articles.length == 0" class ="alert alert-primary" role = "alert">Your favourite list is empty</div>
  <div class="row" *ngFor="let article of articles let i =index">
    <div class="col-md">
      <ul class = "list-group list-group-flush"> 
        <li class="list-group-item d-flex flex-row justify-content-between border-top border-bottom">
          <div class="">
              <h2  role="button" (click) ="viewArticleDetails(article, i)"> 
                <a>{{ article.title }}</a> 
              </h2>
                <p class = "text-muted"><span>Published on {{article.updatedAt | date: 'dd-MM-YYYY'}}</span>
                  <span> by: {{article.user!.name!}}</span>
                </p>
                <p>{{article.content}}</p>
          </div>
          <div class="text-center align-items-center" flex-direction: column>
            <i role = "button"
            (click)="removeArticle(article)"
            class= "btn btn-primary btn-sm fa fa-remove"></i>
            </div>
        </li>   
      </ul>
        
    </div> 
  </div>
</div>


