<div class="jumbotron" >
    <h2 class="display-4">Welcome to our articles library</h2>
    <p class="lead"> The application includes articles created by our users. 
        One can freely read any article. 
        However, you need to be a registered user to create your own reading list, 
        and conribute in adding your own writings to the library.
    </p>
    <hr class="my-4">
    <p>The application is created using MEAN Stack development, using the latest versions of each tool.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg m-3" role="button" (click)="getStarted()">Get Started</a>
        <a class="btn btn-primary btn-lg m-3" data-toggle="tooltip" title="youtube video"
         role="button" (click)="demo()">Demo</a>
      </p>
</div>