
<div class = "container">
    <h2 class="page-header">Create An Article</h2>
    <form (submit)="createNewArticle()">
      <div class="form-group submit-form">
        <label>Title</label>
        <input type = "text" [(ngModel)]= "article.title" name= "title" class ="form-control">
      </div>
  
      <div class="form-group">
        <label>Content</label>
        <textarea [(ngModel)]= "article.content" name= "content" class ="form-control"></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
    </div>