<div class ="m-4"> 
    <h2 >{{getUserName() | uppercase}} Articles</h2>
</div>
<div class = "container">
    <div class="row">
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let article of articles; let i = index"
                [class.active] = "i == currentIndex"
                (click) = "viewArticleDetails(article, i)"
                > <a>{{ article.title | uppercase }}</a>    
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <app-article-details
                [userMode] = "true"
                [article]= "currentArticle"
                (articleEvent) = "deletedArticleEvent($event)"
                >
            </app-article-details>
        </div>
    </div>
</div>



    
