

<ng-container *ngIf="!loggedInView; else loggedUser" >
  <div class = "container">
    <div class="row">
      <div class="col-md">
        <div class="row border-bottom"  *ngFor="let article of articles let i =index"
            [class.active] = "i == currentIndex">
          <div class="col-md-10">
            <h2 role="button" (click)="viewArticleDetails(article, i)"> 
              <a>{{ article.title }}</a>
            </h2>
            <p class = "text-muted"><span>Published on {{article.updatedAt | date: 'dd-MM-YYYY'}}</span>
              <span> by: {{article.user!.name!}}</span>
            </p>
            <p>{{article.content}}</p>  
          </div>
          <div class="col-md-2 text-center d-flex justify-content-center align-items-center" flex-direction: column>
            <i  role = "button"
            (click)="addToPendingFavourite(article)"
            class= 'fa fa-star-o'></i>
          </div> 
        </div> 
      </div>
    </div>
  </div>
</ng-container>  

<ng-template #loggedUser>
    <div class = "container">
      <div class="row">
        <div class="col-md">
          <div class="row border-bottom"  *ngFor="let article of articles let i =index"
              [class.active] = "i == currentIndex">
            <div class="col-md-10">
              <h2 role="button" (click)="viewArticleDetails(article, i)"> 
                <a>{{ article.title }}</a>
              </h2>
              <p class = "text-muted"><span>Published on {{article.updatedAt | date: 'dd-MM-YYYY'}}</span>
                <span> by: {{article.user!.name!}}</span>
              </p>
              <p>{{article.content}}</p>  
            </div>
            <div *ngIf="userId" class="col-md-2 text-center d-flex justify-content-center align-items-center" flex-direction: column>
            <i *ngIf="(article.user!._id != userId)"  role = "button"
            (click)="toggleFavourite(article, i)"
            [ngClass]= "indexList.includes(i) ? 'fa fa-star' : 'fa fa-star-o'"></i>
            </div> 
          </div> 
        </div>
      </div>
    </div>
</ng-template>
