
<ng-container *ngIf="userMode, else readModeReader">
  <div *ngIf="article?._id"  class = "container">
    
    <div>
      <label><strong>Title:</strong></label> {{article.title}}
    </div>
    <div>
      <label><strong>Content:</strong></label>
      {{ article.content }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ article.published ? "Published" : "Pending" }}
    </div>
    <div>
      <label><strong>Created:</strong></label>
      {{ article.createdAt  | date: 'dd-MM-YYYY hh:MM:ss' }}
    </div>

    <button *ngIf="!article.published" class="badge badge-warning mr-2" (click) = "openArticle(article)">Edit</button>
    <button class="badge badge-danger mr-2" (click)="deleteArticle(article)">Delete</button>
    
    <button class="badge badge-primary mr-2"
    (click)="publishArticle(!article.published)">{{ article.published ? "Unpublish" : "Publish" }}
  </button> 
</div>
</ng-container>

<ng-template #readModeReader>
  <ng-container *ngIf="readerMode, else writeMode">
  <div class = "container">
    <div>
      <h2>{{article.title}}</h2>
      <p class="text-muted">By: {{article.user?.name}}
        <span>On {{article.updatedAt | date: 'dd.MM.YYYY'}}</span>
      </p>
    </div>
    
    <div><p>{{ article.content }}</p>
    </div>
</div>
</ng-container>
</ng-template>

<ng-template #writeMode>

  <div *ngIf="article._id"  class = "container edit-form">
    <form>
        <div class="form-group">
            <label for="title" class = "font-weight-bold">Title</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="article.title"
              name="title"
            />
        </div>
        <div class="form-group">
        <label for="description" class = "font-weight-bold">Content</label>
        <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="article.content"
            name="content"
        />
        </div>
    </form>       
    <button type="submit" class="badge badge-success mr-2" (click)="updateArticle(article)">Update</button>
    <button type="submit" class="badge badge-primary mr-2" (click)="cancelButton()">Cancel</button>
  </div>
</ng-template>











