<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
     <a routerLink="about" class="navbar-brand">Articles App</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}">
          <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="!tokenExpired()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}" >
          <a routerLink="myArticles" class="nav-link">My Articles</a>
        </li>
        <li class="nav-item" *ngIf="!tokenExpired()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}" >
          <a routerLink="favourites" class="nav-link">Favourites
            <span class ="badge badge-pill badge-info m-1">{{getCount()}}
              
            
          </span></a>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item " data-bs-toggle="tooltip" data-bs-placement="top" title="Add new article"
           [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}">
            <a role = "button" (click)="goToAddArticle()" class="nav-link fs-1">+</a>
          </li>
          <li class="nav-item nav-link fs-1" *ngIf="!tokenExpired()">
            <b>{{getUserName() | uppercase}}</b>
          </li>
          <li class="nav-item" *ngIf="tokenExpired()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}" >
            <a routerLink="register" class="nav-link">Register</a>
          </li>
          <li  *ngIf="tokenExpired()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}">
              <a routerLink="login" class="nav-link">Login</a>
          </li>
          <li *ngIf="!tokenExpired()" class="nav-item"><a class="nav-link" (click)="onLogout()" href="#">Logout</a>
          </li>
        </ul>
 
    </div>
      
    </nav>
  </div>
