<div>
  <h2 class ="page-header">Login</h2>
  <form (submit) = "onLoginSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type = "text" class = "form-control" [(ngModel)] = "username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type = "password" class = "form-control" [(ngModel)] = "password" name="password">
    </div>
      <input type = "submit" class = "btn btn-primary" value ="Login">
  </form>
</div>
    

